{% extends 'layout.html' %}

{% block body %}
    <h1>Attandance</h1>

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li id="message_{{ forloop.counter }}"
        {% if message.tags %} class="{{ message.tags }}"
        .
        {% endif %}>
        {{ message }}
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    <ol>
    {% for attandance in object_list %}
        <li>{{ attandance.enter_at }} - {{ attandance.out_at }}</li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ol>

    <a href="{% url 'daily_tracker:login' %}" class='btn btn-success'>Login</a>
    <a href="{% url 'daily_tracker:logout' %}" class='btn btn-danger'>Logout</a>

    {% include 'pagination.html' %}
{% endblock body %}

