{% extends 'layout.html' %}
{% block body %}
    <h1>Leaves</h1>
    <a href="{% url 'leave_tracker:create' %}" class='btn btn-success'>Request Leave</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Leave Type</th>
                <th scope="col">Leave Reason</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
            </tr>
        </thead>

        <tbody>
            {% for leave in object_list %}
                <tr class="{% cycle 'active' 'info' %}">
                    <td>{{ leave.leave_type }}</td>
                    <td>{{ leave.leave_reason }}</td>
                    <td>{{ leave.date_from }}</td>
                    <td>{{ leave.date_to }}</td>
                    <td>
                        <a href="{% url 'leave_tracker:update' leave.id %}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
