{% extends 'base/base_nav.html' %}

{% block nav-element-right %}
    <li>
        <a href="{% url 'daily_tracker:attandance_list' %}">Attandance List</a>
    </li>
    <li>
        <a href="{% url 'leave_tracker:leave_list' %}">Leave List</a>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile <span
                class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'accounts:detail' %}">Details</a></li>
            <li><a href="{% url 'accounts:update' %}">Settings</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'accounts:logout' %}">LogOut</a></li>
        </ul>
    </li>
{% endblock nav-element-right %}
